{% extends 'base.html.twig' %}

{% block body %}
    <h1>Documents</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ document.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ document.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ document.description }}</td>
            </tr>
            <tr>
                <th>Fichier</th>
                <td>{{ document.fichier }}</td>
            </tr>
            <tr>
                <th>Datepublication</th>
                <td>{% if document.datePublication %}{{ document.datePublication|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datemodification</th>
                <td>{% if document.dateModification %}{{ document.dateModification|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('documents_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('documents_edit', { 'id': document.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
